body{
    background: var(--background-color);
    font-family: 'Roboto', sans-serif;
}
.barra-topo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #99CEA8;
    margin-top: 40px;
    padding: 0 15px 20px 15px;
}
h1,strong{
    font-weight: 700;
    font-size: 56px;
    color: var(--text-color);
    text-align: center;
    cursor:default;
}
button[type=reset]{
    outline: none;
    font-size: 25px;
    color: var(--background-color);
    text-align: center;
    background: var(--text-color);
    border: none;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
    margin: 0 30px;
}
button[type=reset]:hover{
    border: 1px solid black;
    box-shadow: 0px 0px 2px 2px var(--button-shadow);
}
.container-cartas{
    margin: 13px auto 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.carta-selecionada{
    position: relative;
    width: 117px;
    height: 146px;
    margin: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.carta-verso, .carta-frente{
    width: 117px;
    height: 146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    background: #A7E9AF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .7s;
    transform-style: preserve-3d;
}
img{
    width: 100px;
}

/* efeito virar 3d */
.carta-verso, .carta-frente{
    position: absolute;
    backface-visibility: hidden;
    transition: all .7s;
    transform-style: preserve-3d;
}
.carta-verso{
    transform: rotateY(0deg);
}
.carta-frente{
    transform: rotateY(180deg);
}

/* dark theme */

.dark-theme{
    --text-color: #cac35d;
    --background-color: #104421;
    --button-shadow: white;
}

:root{
    --text-color: #75B79E;
    --background-color: #EEF9BF;
    --button-shadow: rgba(20, 20, 20, 1);
}

.alterar-tema{
    font-size: 60px;
    color: #75B79E;
}

.none{
    display:none;
}