body{
    background: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1,strong{
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
    text-align: center;
}

.container-cartas{
    margin: 13px auto 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.carta-selecionada{
    position: relative;
    width: 117px;
    height: 146px;
    margin: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta-verso, .carta-frente{
    width: 117px;
    height: 146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    background: #A7E9AF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .7s;
    transform-style: preserve-3d;
}

img{
    width: 100px;
}

/* efeito virar */

.carta-verso{
    transform: rotateY(0deg);
}

.carta-frente{
    transform: rotateY(180deg);
}

/* cronometro */
.barra-topo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #99CEA8;
}